<?xml version="1.0" ?>
<launch>
	<arg name="serialport" default="$(env TTY_WHILL)"/>
	<node pkg="ros_whill" type="ros_whill" name="whill" output="screen">
		<rosparam file="$(find ros_whill)/params/initial_speedprofile.yaml" command="load" />
		<param name="keep_connected" value="true" />
		<!-- Serial Device name -->
		<param name="serialport" value="$(arg serialport)"/>
		<!-- Output Odometry tf or not. If other node publishes odom->base_link tf, Change value to "false" -->
		<param name="publish_tf" value="false"/>
	</node>

	<!--  ublox launch file  -->
	<node pkg="ublox_gps" type="ublox_gps" name="ublox" output="screen" clear_params="true" respawn="true" respawn_delay="30">
		<rosparam command="load" file="$(find ublox_gps)/config/zed_f9p_rover.yaml" />
	</node>
	<!--  Robot Pose EKF  -->
	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
		<param name="output_frame" value="odom"/>
		<param name="base_footprint_frame" value="base_link"/>
		<param name="freq" value="30.0"/>
		<param name="sensor_timeout" value="1.0"/>
		<param name="odom_used" value="true"/>
		<param name="imu_used" value="false"/>
		<param name="vo_used" value="true"/>
		<param name="debug" value="false"/>
		<param name="self_diagnose" value="false"/>
		<remap from="vo" to="gps_odom" />
		<remap from="imu_data" to="/whill/state/imu" />
		<remap from="odom" to="/whill/odom" />
	</node>

	<node name="gps_conv" pkg="gps_common" type="utm_odometry_node">
		<remap from="odom" to="gps_odom"/>
		<remap from="fix" to="/ublox/fix" />
		<param name="rot_covariance" value="99999" />
		<param name="frame_id" value="base_footprint" />
	</node>
	<!-- x[m] y[m] z[m] yaw(z)[rad] pitch(y)[rad] roll(x)[rad] -->
	<node pkg="tf" type="static_transform_publisher" name="stp_gps_frame" args="0 0 1.03 0 0 0 base_link gps 100" />
	<node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find sick_whill)/launch/stepbystep/11_whill_gps_timx2_amcl/11_whill_gps_timx2_amcl.rviz">
		<remap from="initialpose" to="set_pose"/>
	</node>
</launch>
