<?xml version="1.0"?>

<launch>
    <group ns="camera_front">
        <node pkg="uvc_camera" name="camera0" type="uvc_camera_node" output="screen">
            <param name="device" type="string" value="/dev/video2"/>
            <param name="width" type="int" value="1920"/>
            <param name="height" type="int" value="1080"/>
            <param name="fps" type="int" value="30"/>
            <param name="format" value="jpeg"/>
            <param name="frame_id" value="camera_front"/>
        </node>
    </group>


    <group ns="camera_back">
        <node pkg="uvc_camera" name="camera1" type="uvc_camera_node" output="screen">
            <param name="device" type="string" value="/dev/video0"/>
            <param name="width" type="int" value="1280"/>
            <param name="height" type="int" value="720"/>
            <param name="fps" type="int" value="30"/>
            <param name="format" value="jpeg"/>
            <param name="frame_id" value="camera_back"/>
        </node>
    </group>

    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find sick_whill)/launch/stepbystep/12_camera/two_cameras.rviz"/>
</launch>
